enterprise-web-services-camel/src/main/resources/META-INF/wsdl/SFDC_EskerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Web Services API : EskerService
-->
<definitions targetNamespace="http://soap.sforce.com/schemas/class/EskerService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/EskerService">
 <types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/EskerService">
   <xsd:element name="DebuggingInfo">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="debugLog" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:simpleType name="ID">
    <xsd:restriction base="xsd:string">
     <xsd:length value="18"/>
     <xsd:pattern value="[a-zA-Z0-9]{18}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategory">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Workflow"/>
     <xsd:enumeration value="Validation"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Apex_code"/>
     <xsd:enumeration value="Apex_profiling"/>
     <xsd:enumeration value="Visualforce"/>
     <xsd:enumeration value="System"/>
     <xsd:enumeration value="All"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LogCategoryLevel">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Internal"/>
     <xsd:enumeration value="Finest"/>
     <xsd:enumeration value="Finer"/>
     <xsd:enumeration value="Fine"/>
     <xsd:enumeration value="Debug"/>
     <xsd:enumeration value="Info"/>
     <xsd:enumeration value="Warn"/>
     <xsd:enumeration value="Error"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="LogInfo">
    <xsd:sequence>
     <xsd:element name="category" type="tns:LogCategory"/>
     <xsd:element name="level" type="tns:LogCategoryLevel"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="LogType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="None"/>
     <xsd:enumeration value="Debugonly"/>
     <xsd:enumeration value="Db"/>
     <xsd:enumeration value="Profiling"/>
     <xsd:enumeration value="Callout"/>
     <xsd:enumeration value="Detail"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="DebuggingHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
      <xsd:element name="debugLevel" type="tns:LogType"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="CallOptions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="client" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="SessionHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="sessionId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="AllowFieldTruncationHeader">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="EskerTransactionRequest">
    <xsd:sequence>
     <xsd:element name="attnLine" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="cpSfdcOrderNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="customerPO" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="dataIn1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="dataIn2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="dataIn3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="emailAddress" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="faxURL" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="overrideFlag" minOccurs="0" type="xsd:boolean" nillable="true"/>
     <xsd:element name="poReceiptTimestamp" minOccurs="0" type="xsd:dateTime" nillable="true"/>
     <xsd:element name="shipToCustomer" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="soldToCustomer" minOccurs="0" type="xsd:string" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EskerTransactionResult">
    <xsd:sequence>
     <xsd:element name="cpoId" minOccurs="0" type="tns:ID" nillable="true"/>
     <xsd:element name="cpoSfdcOrderNumber" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="dataOut1" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="dataOut2" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="dataOut3" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="message" minOccurs="0" type="xsd:string" nillable="true"/>
     <xsd:element name="resultCode" minOccurs="0" type="xsd:int" nillable="true"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="createCPOFromCPWS">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="req" type="tns:EskerTransactionRequest" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="createCPOFromCPWSResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="result" type="tns:EskerTransactionResult" nillable="true"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </types>
 <!-- Message for the header parts -->
 <message name="Header">
  <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
  <part name="CallOptions" element="tns:CallOptions"/>
  <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
  <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
  <part name="SessionHeader" element="tns:SessionHeader"/>
 </message>
 <!-- Operation Messages -->
 <message name="createCPOFromCPWSRequest">
  <part element="tns:createCPOFromCPWS" name="parameters"/>
 </message>
 <message name="createCPOFromCPWSResponse">
  <part element="tns:createCPOFromCPWSResponse" name="parameters"/>
 </message>
 <portType name="EskerServicePortType">
  <operation name="createCPOFromCPWS">
   <input message="tns:createCPOFromCPWSRequest"/>
   <output message="tns:createCPOFromCPWSResponse"/>
  </operation>
 </portType>
 <binding name="EskerServiceBinding" type="tns:EskerServicePortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="createCPOFromCPWS">
   <soap:operation soapAction=""/>
   <input>
    <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
    <soap:header use="literal" part="CallOptions" message="tns:Header"/>
    <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
    <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
    <soap:body use="literal" parts="parameters"/>
   </input>
   <output>
    <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
    <soap:body use="literal"/>
   </output>
  </operation>
 </binding>
 <service name="EskerServiceService">
  <documentation></documentation>
  <port binding="tns:EskerServiceBinding" name="EskerService">
   <soap:address location="https://cs16-api.salesforce.com/services/Soap/class/EskerService"/>
  </port>
 </service>
</definitions>