Web Services/SOAP UI Projects/getMaterialATPAsync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.hmco.com/EAI/OTS/ATP/getMaterialATPAsyncImpl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.hmco.com/EAI/OTS/Material/GetATP" xmlns:ns1="http://www.hmco.com/EAI" name="Untitled" targetNamespace="http://www.hmco.com/EAI/OTS/ATP/getMaterialATPAsyncImpl">
    <wsdl:types>
        <xsd:schema xmlns="http://www.hmco.com/EAI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.hmco.com/EAI" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:complexType name="eaiException">
                <xsd:sequence>
                    <xsd:element ref="ns1:errorList"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="error">
                <xsd:sequence>
                    <xsd:element name="errorCategory" type="xsd:string"/>
                    <xsd:element name="errorCode" type="xsd:string"/>
                    <xsd:element name="errorMessage" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="asyncRequestId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns1:requestId"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="asyncRequestStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isReady" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="error" type="ns1:error"/>
            <xsd:element name="errorList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns1:error" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="requestId" type="xsd:string"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:atp="http://www.hmco.com/EAI/OTS/Material/GetATP" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eai="http://www.hmco.com/EAI" targetNamespace="http://www.hmco.com/EAI/OTS/Material/GetATP" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <import namespace="http://www.hmco.com/EAI"/>
            <element name="ATP_DETAIL_LIST">
                <complexType>
                    <sequence>
                        <element ref="atp:MATNR"/>
                        <element ref="atp:QUANTITY"/>
                        <element ref="atp:FLEX1" minOccurs="0"/>
                        <element ref="atp:FLEX2" minOccurs="0"/>
                        <element ref="atp:FLEX3" minOccurs="0"/>
                        <element ref="atp:SUCCESS" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="ATP_EXCEPTION" type="eai:eaiException"/>
            <element name="ATP_MATERIAL_LIST">
                <complexType>
                    <sequence>
                        <element ref="atp:MATNR" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="COUNTRY" type="xsd:string"/>
            <element name="CUST_ID">
                <simpleType>
                    <restriction base="xsd:string">
                        <maxLength value="18"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="DIST_CHNL" type="xsd:string"/>
            <element name="DIVISION" type="xsd:string"/>
            <element name="FLEX1" type="xsd:string"/>
            <element name="FLEX2" type="xsd:string"/>
            <element name="FLEX3" type="xsd:string"/>
            <element name="GET_ATP_REQUEST">
                <complexType>
                    <sequence>
                        <element ref="atp:COUNTRY" minOccurs="0"/>
                        <element ref="atp:REGION" minOccurs="0"/>
                        <element ref="atp:CUST_ID" minOccurs="0"/>
                        <element ref="atp:DIST_CHNL" minOccurs="0"/>
                        <element ref="atp:DIVISION" minOccurs="0"/>
                        <element ref="atp:ITEM_TYPE" minOccurs="0"/>
                        <element ref="atp:MDR" minOccurs="0"/>
                        <element ref="atp:SALES_ORG" minOccurs="0"/>
                        <element ref="atp:ORDER_TYPE" minOccurs="0"/>
                        <element ref="atp:FLEX1" minOccurs="0"/>
                        <element ref="atp:FLEX2" minOccurs="0"/>
                        <element ref="atp:FLEX3" minOccurs="0"/>
                        <element ref="atp:ATP_MATERIAL_LIST"/>
                    </sequence>
                </complexType>
            </element>
            <element name="GET_ATP_RESPONSE">
                <complexType>
                    <sequence>
                        <element ref="atp:ATP_DETAIL_LIST" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="ITEM_TYPE" type="xsd:string"/>
            <element name="MATNR" type="xsd:string"/>
            <element name="MDR" type="xsd:string"/>
            <element name="ORDER_TYPE" type="xsd:string"/>
            <element name="QUANTITY" type="xsd:string"/>
            <element name="REGION" type="xsd:string"/>
            <element name="SALES_ORG" type="xsd:string"/>
            <element name="SUCCESS" type="xsd:string"/>
        </schema>
    </wsdl:types>
    <wsdl:service name="getMaterialATPAsync">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address location="http://hyddl2213:9006/BusinessProcesses/Material/GetMaterialATP/MainProcesses/getMaterialATPAsync"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ATP">
        <wsdl:operation name="getMaterialATPAsync">
            <wsdl:input message="tns:getMaterialATPRequest"/>
            <wsdl:output message="tns:asyncRequestId"/>
            <wsdl:fault name="getMaterialATPException" message="tns:getMaterialATPException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:ATP">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getMaterialATPAsync">
            <soap:operation style="document" soapAction="/BusinessProcesses/Material/GetMaterialATP/MainProcesses/getMaterialATPAsync"/>
            <wsdl:input>
                <soap:body use="literal" parts="getMaterialATPRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="asyncRequestId"/>
            </wsdl:output>
            <wsdl:fault name="getMaterialATPException">
                <soap:fault use="literal" name="getMaterialATPException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="getMaterialATPRequest">
        <wsdl:part name="getMaterialATPRequest" element="ns0:GET_ATP_REQUEST"/>
    </wsdl:message>
    <wsdl:message name="asyncRequestId">
        <wsdl:part name="asyncRequestId" element="ns1:asyncRequestId"/>
    </wsdl:message>
    <wsdl:message name="getMaterialATPException">
        <wsdl:part name="getMaterialATPException" element="ns0:ATP_EXCEPTION"/>
    </wsdl:message>
</wsdl:definitions>