Web Services/SOAP UI Projects/submitsfdcOrder_latest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.hmco.com/EAI/OTS/Order/submitSfdcOrderImpl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.hmco.com/EAI/OTS/Order" xmlns:ns1="http://www.hmco.com/EAI" xmlns:ns2="http://www.hmco.com/EAI/OTS/Material" xmlns:ns3="http://www.hmco.com/EAI/OTS/Customer" name="Untitled" targetNamespace="http://www.hmco.com/EAI/OTS/Order/submitSfdcOrderImpl">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:mat="http://www.hmco.com/EAI/OTS/Material" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eai="http://www.hmco.com/EAI" targetNamespace="http://www.hmco.com/EAI/OTS/Material" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <import namespace="http://www.hmco.com/EAI"/>
            <complexType name="substitution">
                <sequence>
                    <element name="key">
                        <complexType>
                            <sequence>
                                <element name="materialID" type="xsd:string" minOccurs="0"/>
                                <element name="isbn" type="xsd:string" minOccurs="0"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element ref="mat:substitutionValue" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <element name="component">
                <complexType>
                    <sequence>
                        <element name="materialID" type="xsd:string"/>
                        <element name="isbn" type="xsd:string" minOccurs="0"/>
                        <element name="quantity" type="xsd:int" minOccurs="0"/>
                        <element name="bomType" type="xsd:string" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getMaterialDetailRequest">
                <complexType>
                    <sequence>
                        <element ref="mat:materialKeyList"/>
                        <element name="customerID" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="materialDetail">
                <complexType>
                    <sequence>
                        <element name="materialID" type="xsd:string" minOccurs="0"/>
                        <element name="isbn13" type="xsd:string" minOccurs="0"/>
                        <element name="isbn10" type="xsd:string" minOccurs="0"/>
                        <element name="internalDescription" type="xsd:string"/>
                        <element name="fullDescription" type="xsd:string" minOccurs="0"/>
                        <element name="author" type="xsd:string" minOccurs="0"/>
                        <element name="materialStatus" type="xsd:string"/>
                        <element name="materialStatusDescription" type="xsd:string" minOccurs="0"/>
                        <element name="listPrice" type="xsd:double" minOccurs="0"/>
                        <element name="netPrice" type="xsd:double" minOccurs="0"/>
                        <element name="quantityInStock" type="xsd:int" minOccurs="0"/>
                        <element name="restriction" type="xsd:string" minOccurs="0"/>
                        <element name="materialGroup" type="xsd:string"/>
                        <element name="substituted" type="xsd:boolean"/>
                        <element name="availableDate" type="xsd:date" minOccurs="0"/>
                        <element name="copyrightYear" type="xsd:string" minOccurs="0"/>
                        <element name="mediaType" type="xsd:string" minOccurs="0"/>
                        <element name="productDivision" type="xsd:string"/>
                        <element name="phLevelCode1" type="xsd:string" minOccurs="0"/>
                        <element name="phLevelCode2" type="xsd:string" minOccurs="0"/>
                        <element name="phLevelCode3" type="xsd:string" minOccurs="0"/>
                        <element name="phLevelCode4" type="xsd:string" minOccurs="0"/>
                        <element name="phLevelCode5" type="xsd:string" minOccurs="0"/>
                        <element name="unitsPerCarton" type="xsd:int" minOccurs="0"/>
                        <element name="isSubscription" type="xsd:boolean"/>
                        <element name="genItemCategory" type="xsd:string" minOccurs="0"/>
                        <element ref="mat:component" minOccurs="0" maxOccurs="unbounded"/>
                        <element ref="mat:subscriptionTerm" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="materialDetailList">
                <complexType>
                    <sequence>
                        <element ref="mat:materialDetail" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="materialException" type="eai:eaiException"/>
            <element name="materialKeyList">
                <complexType>
                    <sequence>
                        <element name="materialID" minOccurs="0" maxOccurs="unbounded">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="18"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="isbn" minOccurs="0" maxOccurs="unbounded">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="18"/>
                                </restriction>
                            </simpleType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="materialSubstitution" type="mat:substitution"/>
            <element name="materialSubstitutionList">
                <complexType>
                    <sequence>
                        <element ref="mat:materialSubstitution" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="subscriptionTerm">
                <complexType>
                    <sequence>
                        <element name="duration" type="xsd:int" minOccurs="0"/>
                        <element name="unit" type="xsd:string" minOccurs="0"/>
                        <element name="rate" type="xsd:double" minOccurs="0"/>
                        <element name="startDate" type="xsd:date" minOccurs="0"/>
                        <element name="endDate" type="xsd:date" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="substitutionValue">
                <complexType>
                    <sequence>
                        <element name="substituteID" type="xsd:string"/>
                        <element name="substituteISBN" type="xsd:string"/>
                        <element name="description" type="xsd:string"/>
                        <element name="autoSubstitute" type="xsd:boolean" minOccurs="0"/>
                        <element name="usePrimePrice" type="xsd:boolean" minOccurs="0"/>
                        <element name="applySale" type="xsd:boolean" minOccurs="0"/>
                        <element name="applySample" type="xsd:boolean" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ord="http://www.hmco.com/EAI/OTS/Order" xmlns:mat="http://www.hmco.com/EAI/OTS/Material" xmlns:cus="http://www.hmco.com/EAI/OTS/Customer" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eai="http://www.hmco.com/EAI" targetNamespace="http://www.hmco.com/EAI/OTS/Order" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <import namespace="http://www.hmco.com/EAI/OTS/Material"/>
            <import namespace="http://www.hmco.com/EAI/OTS/Customer"/>
            <import namespace="http://www.hmco.com/EAI"/>
            <complexType name="lineItemError">
                <complexContent>
                    <extension base="eai:error">
                        <sequence>
                            <element name="lineNo" type="xsd:int"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <element name="adHocNote" type="xsd:string"/>
            <element name="adHocNoteTitle" type="xsd:string"/>
            <element name="attnTo" type="xsd:string"/>
            <element name="basisOrderList">
                <complexType>
                    <sequence>
                        <element ref="ord:basisOrderUsed" minOccurs="0"/>
                        <element ref="ord:entryDivision" minOccurs="0"/>
                        <element ref="ord:entryYear" minOccurs="0"/>
                        <element ref="ord:hasEGood" minOccurs="0"/>
                        <element ref="ord:lineList" minOccurs="0" maxOccurs="unbounded"/>
                        <element ref="ord:sfdcAccountId" minOccurs="0"/>
                        <element ref="ord:sfdcInternalOrderId" minOccurs="0"/>
                        <element ref="ord:sfdcOrderNumber" minOccurs="0"/>
                        <element ref="ord:state" minOccurs="0"/>
                        <element ref="ord:transactionType" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="basisOrderUsed" type="xsd:boolean"/>
            <element name="basisSfdcInternalOrderId" type="xsd:string"/>
            <element name="beginningGradeLevel" type="xsd:string"/>
            <element name="chargeStatus" type="xsd:string"/>
            <element name="clientSystemId" type="xsd:string"/>
            <element name="clientTransactionID" type="xsd:string"/>
            <element name="clientTransactionId" type="xsd:string"/>
            <element name="contactEmail" type="xsd:string"/>
            <element name="contactName" type="xsd:string"/>
            <element name="contactPhone" type="xsd:string"/>
            <element name="cpsiaReqCertificate" type="xsd:boolean"/>
            <element name="cpsiaReqLabel" type="xsd:boolean"/>
            <element name="creditCard">
                <complexType>
                    <sequence>
                        <element name="cardType" type="xsd:string"/>
                        <element name="number">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="25"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="expDate">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="4"/>
                                </restriction>
                            </simpleType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="customerTitle" type="xsd:string"/>
            <element name="deliveryInfo">
                <complexType>
                    <sequence>
                        <element name="projectedShippingDate" type="xsd:date" minOccurs="0"/>
                        <element name="projectedShippingQuantity" type="xsd:int" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="deliveryNotes" type="xsd:string"/>
            <element name="districtPid" type="xsd:string"/>
            <element name="eGoodIndicator" type="xsd:string"/>
            <element name="egoodEmail" type="xsd:string"/>
            <element name="endingGradeLevel" type="xsd:string"/>
            <element name="entryDivision" type="xsd:string"/>
            <element name="entryYear" type="xsd:int"/>
            <element name="findBasisOrderRequest">
                <complexType>
                    <sequence>
                        <element ref="ord:entryDivision" minOccurs="0"/>
                        <element ref="ord:entryYear" minOccurs="0"/>
                        <element ref="ord:pid" minOccurs="0"/>
                        <element ref="ord:sfdcOrderNumber" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="findBasisOrderResponse">
                <complexType>
                    <sequence>
                        <element ref="ord:basisOrderList" minOccurs="0" maxOccurs="unbounded"/>
                        <element ref="ord:message" minOccurs="0"/>
                        <element ref="ord:status" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="grade" type="xsd:string"/>
            <element name="hasEGood" type="xsd:boolean"/>
            <element name="isbn13" type="xsd:string"/>
            <element name="lineItemNote" type="xsd:string"/>
            <element name="lineList">
                <complexType>
                    <sequence>
                        <element ref="ord:beginningGradeLevel" minOccurs="0"/>
                        <element ref="ord:cpsiaReqCertificate" minOccurs="0"/>
                        <element ref="ord:cpsiaReqLabel" minOccurs="0"/>
                        <element ref="ord:customerTitle" minOccurs="0"/>
                        <element ref="ord:eGoodIndicator" minOccurs="0"/>
                        <element ref="ord:endingGradeLevel" minOccurs="0"/>
                        <element ref="ord:isbn13" minOccurs="0"/>
                        <element ref="ord:productHierarchyLevelDesc1" minOccurs="0"/>
                        <element ref="ord:productHierarchyLevelDesc2" minOccurs="0"/>
                        <element ref="ord:productHierarchyLevelDesc3" minOccurs="0"/>
                        <element ref="ord:productHierarchyLevelDesc4" minOccurs="0"/>
                        <element ref="ord:productHierarchyLevelDesc5" minOccurs="0"/>
                        <element ref="ord:quantity" minOccurs="0"/>
                        <element ref="ord:sfdcInternalOrderLineId" minOccurs="0"/>
                        <element ref="ord:shortProductCode" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="materialKey">
                <complexType>
                    <sequence>
                        <element name="materialID" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="18"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="isbn" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="18"/>
                                </restriction>
                            </simpleType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="message" type="xsd:string"/>
            <element name="orderException">
                <complexType>
                    <sequence>
                        <element name="headerError" type="eai:error" minOccurs="0" maxOccurs="unbounded"/>
                        <element name="lineItemError" type="ord:lineItemError" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="orderNoteList">
                <complexType>
                    <sequence>
                        <element ref="ord:adHocNoteTitle" minOccurs="0"/>
                        <element ref="ord:adHocNote" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="orderReason" type="xsd:string"/>
            <element name="orderReasonCode" type="xsd:string"/>
            <element name="orderedByRep" type="xsd:boolean"/>
            <element name="originalPONumber" type="xsd:string"/>
            <element name="packBySchoolOrGrade" type="xsd:string"/>
            <element name="pid" type="xsd:string"/>
            <element name="poNumber">
                <simpleType>
                    <restriction base="xsd:string">
                        <maxLength value="35"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="productHierarchyLevelDesc1" type="xsd:string"/>
            <element name="productHierarchyLevelDesc2" type="xsd:string"/>
            <element name="productHierarchyLevelDesc3" type="xsd:string"/>
            <element name="productHierarchyLevelDesc4" type="xsd:string"/>
            <element name="productHierarchyLevelDesc5" type="xsd:string"/>
            <element name="quantity" type="xsd:double"/>
            <element name="requestId" type="xsd:string"/>
            <element name="saleHeader">
                <complexType>
                    <sequence>
                        <element name="soldToCustomerID">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="shipToCustomerID" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="billToCustomerID" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="shipToAttentionLine" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="40"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="billToAttentionLine" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="40"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="entryDivision" type="xsd:string"/>
                        <element name="contactName" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="40"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="contactPhone" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="16"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="orderSource" type="xsd:string"/>
                        <element name="shipmentMethod" type="xsd:string" minOccurs="0"/>
                        <element name="priceDate" type="xsd:date" minOccurs="0"/>
                        <element name="promotionCode" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="3"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="allowSubstitutionsFlag" type="xsd:boolean"/>
                        <element name="allowContractPricingFlag" type="xsd:boolean"/>
                        <element name="requestedDate" type="xsd:date" minOccurs="0"/>
                        <element name="shipDateOption" type="xsd:string" minOccurs="0"/>
                        <element name="arTerms" type="xsd:string" minOccurs="0"/>
                        <element name="shippingTerms" type="xsd:string" minOccurs="0"/>
                        <element name="backorderOption" type="xsd:string" minOccurs="0"/>
                        <element name="backorderCancelDate" type="xsd:date" minOccurs="0"/>
                        <element name="deferedPaymentDate" type="xsd:date" minOccurs="0"/>
                        <element name="freeformMessage" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="1256"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="customerEmail" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="256"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="headerCouponCode" nillable="true" type="xsd:string" minOccurs="0"/>
                        <element name="deliveryBlock" type="xsd:string" minOccurs="0"/>
                        <element ref="ord:orderReason" minOccurs="0"/>
                        <element name="csHold" type="xsd:string" minOccurs="0"/>
                        <element name="userId" type="xsd:string" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="saleLineItem">
                <complexType>
                    <sequence>
                        <element name="lineNo" type="xsd:double"/>
                        <element name="materialID">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="18"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="quantity" type="xsd:int"/>
                        <element name="lineCouponCode" nillable="true" type="xsd:string" minOccurs="0"/>
                        <element ref="mat:subscriptionTerm" minOccurs="0"/>
                        <element name="itemType" type="xsd:string" minOccurs="0"/>
                        <element name="overrideShipping" type="xsd:decimal" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="saleLineItemList">
                <complexType>
                    <sequence>
                        <element ref="ord:saleLineItem" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="sampleHeader">
                <complexType>
                    <sequence>
                        <element name="soldToCustomerID">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="shipToCustomerID" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="entryDivision" type="xsd:string"/>
                        <element name="toAttentionLine" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="40"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="toDepartment" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="40"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="shipToLocation" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="40"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="overrideAddress" type="cus:address" minOccurs="0"/>
                        <element name="orderSource" type="xsd:string"/>
                        <element name="salesRepID" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="backorderOption" type="xsd:string" minOccurs="0"/>
                        <element name="backorderCancelDate" type="xsd:date" minOccurs="0"/>
                        <element name="requestedDate" type="xsd:date" minOccurs="0"/>
                        <element name="shipDateOption" type="xsd:string" minOccurs="0"/>
                        <element name="shipmentMethod" type="xsd:string" minOccurs="0"/>
                        <element name="freeFormMessage" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="1256"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="allowSubstitutionsFlag" type="xsd:boolean"/>
                        <element name="handlingTerms" type="xsd:string" minOccurs="0"/>
                        <element name="customerEmail" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="256"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="deliveryBlock" type="xsd:string" minOccurs="0"/>
                        <element ref="ord:orderReason" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="sampleLineItem">
                <complexType>
                    <sequence>
                        <element name="lineNo" type="xsd:int"/>
                        <element ref="ord:materialKey"/>
                        <element name="quantity" type="xsd:int"/>
                        <element name="itemType" type="xsd:string" minOccurs="0"/>
                        <element ref="mat:subscriptionTerm" minOccurs="0"/>
                        <element ref="ord:deliveryInfo" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="sampleLineItemList">
                <complexType>
                    <sequence>
                        <element ref="ord:sampleLineItem" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="sendConfirmationEmail" type="xsd:boolean"/>
            <element name="sfdcAccountId" type="xsd:string"/>
            <element name="sfdcInternalOrderId" type="xsd:string"/>
            <element name="sfdcInternalOrderLineId" type="xsd:string"/>
            <element name="sfdcOrderNumber" type="xsd:string"/>
            <element name="shipDateOption" type="xsd:string"/>
            <element name="shipDateOptionDate" type="xsd:date"/>
            <element name="shipToPid" type="xsd:string"/>
            <element name="shippingAccountName" type="xsd:string"/>
            <element name="shippingAddressCity" type="xsd:string"/>
            <element name="shippingAddressLine1" type="xsd:string"/>
            <element name="shippingAddressLine2" type="xsd:string"/>
            <element name="shippingAddressState" type="xsd:string"/>
            <element name="shippingCountry" type="xsd:string"/>
            <element name="shippingZip" type="xsd:string"/>
            <element name="shortProductCode" type="xsd:string"/>
            <element name="state" type="xsd:string"/>
            <element name="status" type="xsd:string"/>
            <element name="submitForManualCorrection" type="xsd:boolean"/>
            <element name="submitOrderLIneList">
                <complexType>
                    <sequence>
                        <element ref="ord:chargeStatus" minOccurs="0"/>
                        <element ref="ord:grade" minOccurs="0"/>
                        <element ref="ord:isbn13" minOccurs="0"/>
                        <element ref="ord:lineItemNote" minOccurs="0"/>
                        <element ref="ord:quantity" minOccurs="0"/>
                        <element ref="ord:shortProductCode" minOccurs="0"/>
                        <element ref="ord:sfdcInternalOrderLineId" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="submitOrderRequest">
                <complexType>
                    <sequence>
                        <element ref="ord:sfdcAccountId" minOccurs="0"/>
                        <element ref="ord:attnTo" minOccurs="0"/>
                        <element ref="ord:basisSfdcInternalOrderId" minOccurs="0"/>
                        <element ref="ord:clientTransactionId" minOccurs="0"/>
                        <element ref="ord:clientSystemId" minOccurs="0"/>
                        <element ref="ord:contactEmail" minOccurs="0"/>
                        <element ref="ord:contactName" minOccurs="0"/>
                        <element ref="ord:contactPhone" minOccurs="0"/>
                        <element ref="ord:deliveryNotes" minOccurs="0"/>
                        <element ref="ord:districtPid" minOccurs="0"/>
                        <element ref="ord:egoodEmail" minOccurs="0"/>
                        <element ref="ord:entryDivision" minOccurs="0"/>
                        <element ref="ord:orderReasonCode" minOccurs="0"/>
                        <element ref="ord:originalPONumber" minOccurs="0"/>
                        <element ref="ord:packBySchoolOrGrade" minOccurs="0"/>
                        <element ref="ord:poNumber" minOccurs="0"/>
                        <element ref="ord:shipDateOption" minOccurs="0"/>
                        <element ref="ord:shipDateOptionDate" minOccurs="0"/>
                        <element ref="ord:shippingAccountName" minOccurs="0"/>
                        <element ref="ord:shippingAddressCity" minOccurs="0"/>
                        <element ref="ord:shippingAddressLine1" minOccurs="0"/>
                        <element ref="ord:shippingAddressLine2" minOccurs="0"/>
                        <element ref="ord:shippingAddressState" minOccurs="0"/>
                        <element ref="ord:shippingCountry" minOccurs="0"/>
                        <element ref="ord:shippingZip" minOccurs="0"/>
                        <element ref="ord:shipToPid" minOccurs="0"/>
                        <element ref="ord:transactionName" minOccurs="0"/>
                        <element ref="ord:transactionType" minOccurs="0"/>
                        <element ref="ord:useOverrideAddress" minOccurs="0"/>
                        <element ref="ord:orderNoteList" minOccurs="0" maxOccurs="unbounded"/>
                        <element ref="ord:submitOrderLIneList" minOccurs="0" maxOccurs="unbounded"/>
                        <element ref="ord:sendConfirmationEmail" minOccurs="0"/>
                        <element ref="ord:orderedByRep" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="submitOrderResponse">
                <complexType>
                    <sequence>
                        <element ref="ord:message" minOccurs="0"/>
                        <element ref="ord:poNumber" minOccurs="0"/>
                        <element ref="ord:sfdcInternalOrderId" minOccurs="0"/>
                        <element ref="ord:sfdcOrderNumber" minOccurs="0"/>
                        <element ref="ord:status" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="submitSaleRequest">
                <complexType>
                    <sequence>
                        <element ref="ord:submitSaleTranAction"/>
                        <element ref="ord:saleHeader"/>
                        <element ref="ord:saleLineItemList"/>
                        <element ref="ord:creditCard" minOccurs="0"/>
                        <element ref="ord:clientTransactionID" minOccurs="0"/>
                        <element ref="ord:poNumber"/>
                        <element ref="ord:submitForManualCorrection"/>
                        <element name="tranType" type="xsd:string" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="submitSaleRequestId">
                <complexType>
                    <sequence>
                        <element ref="ord:requestId"/>
                    </sequence>
                </complexType>
            </element>
            <element name="submitSaleRequestStatus">
                <complexType>
                    <sequence>
                        <element name="isReady" type="xsd:boolean"/>
                    </sequence>
                </complexType>
            </element>
            <element name="submitSaleResponse">
                <complexType>
                    <sequence>
                        <element name="header">
                            <complexType>
                                <sequence>
                                    <element name="transactionID" type="xsd:string"/>
                                    <element name="saleDate" type="xsd:date"/>
                                    <element name="orderSubTotal" type="xsd:double"/>
                                    <element name="taxAmount" type="xsd:double"/>
                                    <element name="shippingAmount" type="xsd:double"/>
                                    <element name="saleTotal" type="xsd:double"/>
                                    <element name="deliveredPricing" type="xsd:boolean"/>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="lineItem" maxOccurs="unbounded">
                            <complexType>
                                <sequence>
                                    <element name="lineNo" type="xsd:int"/>
                                    <element name="materialID" type="xsd:string"/>
                                    <element name="quantity" type="xsd:int"/>
                                    <element name="listPrice" type="xsd:double"/>
                                    <element name="netPrice" type="xsd:double"/>
                                    <element name="discountPercent" type="xsd:double" minOccurs="0"/>
                                    <element name="substituted" type="xsd:boolean" minOccurs="0"/>
                                    <element name="couponCode" nillable="true" type="xsd:string" minOccurs="0"/>
                                    <element name="contractPriceIndicator" nillable="true" type="xsd:boolean" minOccurs="0"/>
                                    <element name="discountAmount" nillable="true" type="xsd:double" minOccurs="0"/>
                                    <element name="promoAmount" nillable="true" type="xsd:double" minOccurs="0"/>
                                    <element name="freeGoodsIndicator" nillable="true" type="xsd:boolean" minOccurs="0"/>
                                    <element ref="ord:deliveryInfo" minOccurs="0" maxOccurs="unbounded"/>
                                    <element name="deliveredPriceIndicator" type="xsd:boolean" minOccurs="0"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="submitSaleTranAction">
                <simpleType>
                    <restriction base="xsd:string">
                        <maxLength value="20"/>
                        <enumeration value="TRAN_ACTION_RELEASE"/>
                        <enumeration value="TRAN_ACTION_HOLD"/>
                        <enumeration value="TRAN_ACTION_PRICE"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="submitSampleRequest">
                <complexType>
                    <sequence>
                        <element ref="ord:submitSampleTranAction"/>
                        <element ref="ord:sampleHeader"/>
                        <element ref="ord:sampleLineItemList"/>
                        <element ref="ord:clientTransactionID" minOccurs="0"/>
                        <element ref="ord:poNumber"/>
                        <element ref="ord:submitForManualCorrection"/>
                        <element name="tranType" type="xsd:string" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="submitSampleResponse">
                <complexType>
                    <sequence>
                        <element name="header">
                            <complexType>
                                <sequence>
                                    <element name="transactionID" type="xsd:string"/>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="lineItem" maxOccurs="unbounded">
                            <complexType>
                                <sequence>
                                    <element name="lineNo" type="xsd:string"/>
                                    <element name="materialID" type="xsd:string"/>
                                    <element name="substituted" type="xsd:boolean"/>
                                    <element name="lineItemError" minOccurs="0">
                                        <complexType>
                                            <complexContent>
                                                <extension base="eai:error">
                                                    <sequence>
                                                        <element name="lineNo" type="xsd:string"/>
                                                    </sequence>
                                                </extension>
                                            </complexContent>
                                        </complexType>
                                    </element>
                                    <element ref="ord:deliveryInfo" minOccurs="0" maxOccurs="unbounded"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="submitSampleTranAction">
                <simpleType>
                    <restriction base="xsd:string">
                        <maxLength value="20"/>
                        <enumeration value="TRAN_ACTION_RELEASE"/>
                        <enumeration value="TRAN_ACTION_HOLD"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="transactionName" type="xsd:string"/>
            <element name="transactionType" type="xsd:string"/>
            <element name="useOverrideAddress" type="xsd:boolean"/>
        </schema>
        <xsd:schema xmlns="http://www.hmco.com/EAI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.hmco.com/EAI" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:complexType name="eaiException">
                <xsd:sequence>
                    <xsd:element ref="ns1:errorList"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="error">
                <xsd:sequence>
                    <xsd:element name="errorCategory" type="xsd:string"/>
                    <xsd:element name="errorCode" type="xsd:string"/>
                    <xsd:element name="errorMessage" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="asyncRequestId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns1:requestId"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="asyncRequestStatus">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isReady" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="error" type="ns1:error"/>
            <xsd:element name="errorList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns1:error" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="requestId" type="xsd:string"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cus="http://www.hmco.com/EAI/OTS/Customer" xmlns:mat="http://www.hmco.com/EAI/OTS/Material" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eai="http://www.hmco.com/EAI" targetNamespace="http://www.hmco.com/EAI/OTS/Customer" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <import namespace="http://www.hmco.com/EAI/OTS/Material"/>
            <import namespace="http://www.hmco.com/EAI"/>
            <complexType name="address">
                <sequence>
                    <element name="customerName" type="xsd:string" minOccurs="0"/>
                    <element name="addressLine1" minOccurs="0">
                        <simpleType>
                            <restriction base="xsd:string">
                                <maxLength value="60"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element name="addressLine2" minOccurs="0">
                        <simpleType>
                            <restriction base="xsd:string">
                                <maxLength value="40"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element name="poBox" minOccurs="0">
                        <simpleType>
                            <restriction base="xsd:string">
                                <maxLength value="10"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element name="city">
                        <simpleType>
                            <restriction base="xsd:string">
                                <maxLength value="35"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element name="state">
                        <simpleType>
                            <restriction base="xsd:string">
                                <maxLength value="3"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element name="zipcode">
                        <simpleType>
                            <restriction base="xsd:string">
                                <maxLength value="10"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element name="countryCode">
                        <simpleType>
                            <restriction base="xsd:string">
                                <maxLength value="3"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element ref="cus:emailAddressStruct" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <element name="SFDCCustomer">
                <complexType>
                    <sequence>
                        <element name="sfdcCustomerId" type="xsd:string"/>
                        <element name="sapCustomerId" type="xsd:string" minOccurs="0"/>
                        <element name="mdrPid" type="xsd:string" minOccurs="0"/>
                        <element name="name" type="xsd:string"/>
                        <element name="shippingStreet" type="xsd:string" minOccurs="0"/>
                        <element name="shippingCity" type="xsd:string" minOccurs="0"/>
                        <element name="shippingState" type="xsd:string" minOccurs="0"/>
                        <element name="shippingZip" type="xsd:string" minOccurs="0"/>
                        <element name="shippingCountry" type="xsd:string" minOccurs="0"/>
                        <element name="phone" type="xsd:string" minOccurs="0"/>
                        <element name="fax" type="xsd:string" minOccurs="0"/>
                        <element name="email" type="xsd:string" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="SFDCCustomerList">
                <complexType>
                    <sequence>
                        <element ref="cus:SFDCCustomer" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="SFDCRep">
                <complexType>
                    <sequence>
                        <element name="sfdcUserID" type="xsd:string"/>
                        <element name="sfdcCustomerId" type="xsd:string"/>
                        <element name="userName" type="xsd:string"/>
                        <element name="phone" type="xsd:string" minOccurs="0"/>
                        <element name="market" type="xsd:string" minOccurs="0"/>
                        <element name="territoryDescription" type="xsd:string" minOccurs="0"/>
                        <element name="email" type="xsd:string" minOccurs="0"/>
                        <element ref="cus:division" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="SFDCRepList">
                <complexType>
                    <sequence>
                        <element ref="cus:SFDCRep" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="createEtailCustomerRequest">
                <complexType>
                    <sequence>
                        <element ref="cus:storeID"/>
                        <element name="name">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="35"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="telephone">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="16"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="customerEmail" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="241"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="soldToAddress" type="cus:address"/>
                        <element name="billToAddress" type="cus:address" minOccurs="0"/>
                        <element name="shipToAddress" type="cus:address" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="createEtailCustomerResponse">
                <complexType>
                    <sequence>
                        <element name="soldToCustomerID" type="xsd:string"/>
                        <element name="shipToCustomerID" type="xsd:string"/>
                        <element name="billToCustomerID" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="createSundryCustomerRequest">
                <complexType>
                    <sequence>
                        <element name="division" type="xsd:string"/>
                        <element name="SFASalesTerritory">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="geographicSalesTerritory" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="6"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="name">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="35"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="customerAddress" type="cus:address"/>
                        <element name="telephone1" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="16"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="telephone2" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="16"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="fax" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="31"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="collegeNumber" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="customerEmail" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="241"/>
                                </restriction>
                            </simpleType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="customerDetail">
                <complexType>
                    <sequence>
                        <element name="customerID" type="xsd:string"/>
                        <element name="customerRole" type="xsd:string"/>
                        <element name="customerClassCode" type="xsd:string"/>
                        <element name="customerClassDesc" type="xsd:string"/>
                        <element name="customerTypeCode" type="xsd:string"/>
                        <element name="customerTypeDesc" type="xsd:string"/>
                        <element name="creditStatus" type="xsd:string" minOccurs="0"/>
                        <element name="san" type="xsd:string" minOccurs="0"/>
                        <element name="mdrPID" type="xsd:string" minOccurs="0"/>
                        <element ref="cus:isPrimeMDR" minOccurs="0"/>
                        <element name="customerAddress" type="cus:address"/>
                        <element name="name" type="xsd:string"/>
                        <element name="telNumber" type="xsd:string"/>
                        <element name="altTelNumber" type="xsd:string" minOccurs="0"/>
                        <element name="customerStatus" type="xsd:string" minOccurs="0"/>
                        <element name="collegeNumber" type="xsd:string" minOccurs="0"/>
                        <element name="customerEmail" type="xsd:string" minOccurs="0"/>
                        <element name="customerFax" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="31"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="customerDivisionInfo" minOccurs="0" maxOccurs="unbounded">
                            <complexType>
                                <sequence>
                                    <element name="division" type="xsd:string"/>
                                    <element name="geographicTerritory" type="xsd:string"/>
                                    <element name="allowSubstitutionsFlag" type="xsd:boolean"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="customerDetailList">
                <complexType>
                    <sequence>
                        <element ref="cus:customerDetail" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="customerException" type="eai:eaiException"/>
            <element name="customerExceptionList">
                <complexType>
                    <sequence>
                        <element ref="cus:customerException" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="customerID">
                <simpleType>
                    <restriction base="xsd:string">
                        <maxLength value="10"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="customerIDList">
                <complexType>
                    <sequence>
                        <element name="customerID" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="customerKey">
                <complexType>
                    <sequence>
                        <element name="customerID" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="10"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="san" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="12"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="mdrPID" minOccurs="0">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="15"/>
                                </restriction>
                            </simpleType>
                        </element>
                    </sequence>
                </complexType>
            </element>
            <element name="customerKeyList">
                <complexType>
                    <sequence>
                        <element ref="cus:customerKey" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="customerRelationship">
                <complexType>
                    <sequence>
                        <element ref="cus:relationshipType" minOccurs="0"/>
                        <element name="customerID" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="customerRelationshipList">
                <complexType>
                    <sequence>
                        <element ref="cus:customerRelationship" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="customerSearchCriteria">
                <complexType>
                    <sequence>
                        <element name="name">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="35"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="address">
                            <simpleType>
                                <restriction base="xsd:string">
                                    <maxLength value="60"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="zipCode" type="xsd:string"/>
                        <element name="division" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="customerSubstitution">
                <complexType>
                    <sequence>
                        <element name="materialID" type="xsd:string"/>
                        <element ref="mat:substitutionValue" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="customerSubstitutionList">
                <complexType>
                    <sequence>
                        <element ref="cus:customerSubstitution" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="division" type="xsd:string"/>
            <element name="emailAddress" type="xsd:string"/>
            <element name="emailAddressStruct">
                <complexType>
                    <sequence>
                        <element ref="cus:emailAddress" minOccurs="0"/>
                        <element ref="cus:isPrimary"/>
                    </sequence>
                </complexType>
            </element>
            <element name="findSFDCCustomerRequest">
                <complexType>
                    <sequence>
                        <element name="mdrPid" type="xsd:string" minOccurs="0"/>
                        <element name="sapCustomerId" type="xsd:string" minOccurs="0"/>
                        <element name="zipCode" type="xsd:string" minOccurs="0"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getCustomerRelationshipsRequest">
                <complexType>
                    <sequence>
                        <element ref="cus:customerID"/>
                        <element ref="cus:division"/>
                        <element ref="cus:relationshipTypeList"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getCustomerSubstitutionsRequest">
                <complexType>
                    <sequence>
                        <element ref="cus:customerID"/>
                        <element ref="cus:transactionType"/>
                        <element ref="cus:division"/>
                        <element ref="cus:titleList"/>
                    </sequence>
                </complexType>
            </element>
            <element name="isPrimary" type="xsd:boolean"/>
            <element name="isPrimeMDR" nillable="true" type="xsd:boolean"/>
            <element name="lookUpFields">
                <complexType>
                    <sequence>
                        <element name="noOfFields" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="materialID" type="xsd:string"/>
            <element name="relationshipType" type="xsd:string"/>
            <element name="relationshipTypeList">
                <complexType>
                    <sequence>
                        <element ref="cus:relationshipType" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="sfdcCustomerId" type="xsd:string"/>
            <element name="sfdcCustomerIdList">
                <complexType>
                    <sequence>
                        <element ref="cus:sfdcCustomerId" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="storeID">
                <simpleType>
                    <restriction base="xsd:string">
                        <maxLength value="30"/>
                    </restriction>
                </simpleType>
            </element>
            <element name="titleList">
                <complexType>
                    <sequence>
                        <element ref="cus:materialID" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="transactionType" type="xsd:string"/>
        </schema>
    </wsdl:types>
    <wsdl:service name="submitSfdcOrder">
        <wsdl:port name="submitOrderEventSource" binding="tns:submitOrderEventSourceBinding">
            <soap:address location="http://hyddl2213:9002/BusinessProcesses/Order/SubmitSfdcOrder/MainProcesses/submitSfdcOrder"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="order">
        <wsdl:operation name="submitSfdcOrder">
            <wsdl:input message="tns:submitsfdcOderRequest"/>
            <wsdl:output message="tns:submitOrderResponse"/>
            <wsdl:fault name="eaiException" message="tns:eaiException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="submitOrderEventSourceBinding" type="tns:order">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="submitSfdcOrder">
            <soap:operation style="document" soapAction="/BusinessProcesses/Order/SubmitSfdcOrder/submitSfdcOrder"/>
            <wsdl:input>
                <soap:body use="literal" parts="submitOrderRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="submitOrderResponse"/>
            </wsdl:output>
            <wsdl:fault name="eaiException">
                <soap:fault use="literal" name="eaiException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="submitsfdcOderRequest">
        <wsdl:part name="submitOrderRequest" element="ns0:submitOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="submitOrderResponse">
        <wsdl:part name="submitOrderResponse" element="ns0:submitOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="eaiException">
        <wsdl:part name="eaiException" type="ns1:eaiException"/>
    </wsdl:message>
</wsdl:definitions>