SCM Services/Tibco Mapping/SharedResources/Schemas/Common/EAIException.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.hmco.com/EAI/common/Exception"
	 xmlns:common = "http://www.hmco.com/EAI/common/Exception"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<element name = "Exception">
		<complexType>
			<sequence>
				<element name = "ExceptionSourceName" type = "string"/>
				<element name = "ExceptionFamily" type = "string"/>
				<element name = "ExceptionType" type = "string"/>
				<element name = "ExceptionMessage" type = "string"/>
				<element name = "TimeStamp" type = "string" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
</schema>